


#btn1 {
  margin-top: -15px;  
  padding: 0px 10px;
  border-radius: 10px;
  background-color: #fdb44d;
  border: none;
  color: #00204a;
  text-align: center;

  font-weight: 800;
  font-size: 25px;
  
  height: auto;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  
  
}

input{
    border-radius: 5px;
    background-color: #eeeeee;
    border: none;

}




label{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 800;
    font-size: x-large;
    color: #fdb44b;
}
#titulo{
    margin-top: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
    color: #fdb44b;
    font-size: xx-large;
}
#divLogin{
  height: 100vh;
  background-image: url("../Recursos/wallpaper.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #000;
  padding-top: 65px;
  
}
