footer {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00204a;
  bottom: 0px;
  width: 100%;
  height: 40px;
}

.footer__img {
  height: 40px;
  padding: 5px;
}

.footer__img:hover {
  filter: opacity(0.5);
  -webkit-transform: scale(1.3);
  transform: scale(0.7);
}